/* ==|====================
   VARIABLES
=========================== */


/* Fonts
---------------------------------------*/ 
$color_main : #58abb7;  //  green
$color_secondary : '' ; //
$color_text_main: '';

/* Colors
---------------------------------------*/ 
$font_main : 'Open Sans', sans-serif; ; // 
$font_titles : '' ; // 



